<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
	<dbconnect>
		<url>jdbc:sqlserver://10.18.40.136:1433</url>
		<user>a.garshina</user>
		<password>123</password>
	</dbconnect>


	<convertersSettings>
		<settings for="impl.ConvertToString">
			<setting name="encoding">UTF-8</setting>
		</settings>
		<settings for="impl.ConvertToDouble">
			<setting name="permissibleError">0.00001</setting>
		</settings>
	</convertersSettings>

	<converters>
		<converter dbType="1">impl.ConvertToString</converter>
		<converter dbType="3">impl.ConvertToBool</converter>
		<converter dbType="4">impl.ConvertToString</converter>
		<converter dbType="5">impl.ConvertToLong</converter>
		<converter dbType="6">impl.ConvertUToLong</converter>
		<converter dbType="7">impl.ConvertToLong</converter>
		<converter dbType="8">impl.ConvertUToLong</converter>
		<converter dbType="9">impl.ConvertToLong</converter>
		<converter dbType="10">impl.ConvertUToLong</converter>
		<converter dbType="11">impl.ConvertToLong</converter>
		<converter dbType="12">impl.ConvertUToLong</converter>
		<converter dbType="13">impl.ConvertToDouble</converter>
		<converter dbType="14">impl.ConvertToDouble</converter>
		<converter dbType="15">impl.ConvertToDouble</converter>
		<converter dbType="16">impl.ConvertToDate</converter>
		<converter dbType="18">impl.ConvertToString</converter>
		<converter dbType="101">impl.ConvertToString</converter>
		<converter dbType="105">impl.ConvertToString</converter>
		<converter dbType="107">impl.ConvertToString</converter>
	</converters>
</config>