<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
	<dbconnect>
		<connection value="jdbc:sqlserver://10.18.40.136:1433" />
		<user value="a.garshina" />
		<password value="123" />
	</dbconnect>

	<parserSettings>
		<marginOfError value="0.000000000001" />
		<encoding value = "UTF-8"/>
	</parserSettings>

	<parsers>
		<parser dbType="1">impl.ConvertToString</parser>
		<parser dbType="3">impl.ConvertToBool</parser>
		<parser dbType="4">impl.ConvertToString</parser>
		<parser dbType="5">impl.ConvertToLong</parser>
		<parser dbType="6">impl.ConvertUToLong</parser>
		<parser dbType="7">impl.ConvertToLong</parser>
		<parser dbType="8">impl.ConvertUToLong</parser>
		<parser dbType="9">impl.ConvertToLong</parser>
		<parser dbType="10">impl.ConvertUToLong</parser>
		<parser dbType="11">impl.ConvertToLong</parser>
		<parser dbType="12">impl.ConvertUToLong</parser>
		<parser dbType="13">impl.ConvertToDouble</parser>
		<parser dbType="14">impl.ConvertToDouble</parser>
		<parser dbType="15">impl.ConvertToDouble</parser>
		<parser dbType="16">impl.ConvertToDate</parser>
		<parser dbType="18">impl.ConvertToString</parser>
		<parser dbType="101">impl.ConvertToString</parser>
		<parser dbType="105">impl.ConvertToString</parser>
		<parser dbType="107">impl.ConvertToString</parser>
	</parsers>
</config>